table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049; /* Darker green background on hover */
}

h2 {
    background-color: #4CAF50; /* Green background for headings */
    color: white;
    padding: 10px; /* Add padding for better appearance */
    text-align: center; /* Center align the text */
}

h3{
	text-align: center;
}

button.addToCart {
    background-color: #4CAF50; /* Green background for add to cart buttons */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.addToCart:hover {
    background-color: #45a049; /* Darker green background on hover */
}

footer {
    background-color: #4CAF50; /* Green background for footer */
    color: white;
    padding: 10px; /* Add padding for better appearance */
    text-align: center; /* Center align the text */
    margin-top:25%;
}
